#characters-list {
  flex-direction: column;
  justify-content: space-around;

  display: grid;
  grid-template-columns: 1fr;
  gap: 10px 40px;

  @media screen and (min-width: 576px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
