.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.feturedimage-container {
  display: flex;
  justify-content: center;
  max-height: 90vh;
  overflow: hidden;

  #fetured-image {
    width: 100%;
    height: min-content;
  }

  .futurama-logo {
    position: absolute;
    top: 1.3rem;
    width: 30vw;
    left: 50%;
    transform: translateX(-50%);
  }
}

.search-container {
  margin: 16px auto;
}

.filters-container {
  > label {
    margin-right: 0.5rem;
  }
}
